body {
    background-color: chocolate;
}

.main {
    border: 1px solid cornflowerblue;
    border-radius: 10%;
    text-align: center;
    /* width: 15rem; */
}

.mainDiv {
    align-items: center;
    align-content: center;
}